@font-face {
  font-family: Tahoma;
  src: url('assets/tahoma.ttf') format('truetype');
}

@font-face {
  font-family: "Tahoma-bold";
  src: url('assets/tahoma-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProtestGuerrilla';
  src: url('assets/ProtestGuerrilla.ttf') format('truetype');
}

@media (max-width: 992px) {
  .description-container {
    padding: 50px 0 !important;
  }
}

@media (max-width: 768px) {
  .description-container svg {
    display: none;
  }

  .description {
    width: 100% !important;
    border-radius: 0 !important;
  }
}

:root {
  --text-color-1: #ffffff;
  --text-color-2: #afb6be;

  --background-color: #2b4c7c;
  --secondary-background-color: #182a45;
  --third-background-color: #0a1c36;

  --border-radius: 20px;
  --border-radius-round: 100px;

  --border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma";
  background: var(--background-color);
  margin: 0px;
  text-align: center;
  font-size: 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
button {
  color: var(--text-color-1);
  font-family: "Tahoma-bold";
}

p,
a{
  color: var(--text-color-2);
  text-decoration: none;
}

h1 {
  font-size: max(4vw, 4rem);
}

h2 {
  font-size: max(3vw, 3rem);
}

h3 {
  font-size: max(2vw, 2rem);
}

h4 {
  font-size: max(1.75vw, 1.75rem);
}

h5 {
  font-size: max(1.5vw, 1.5rem);
}

h6, a {
  font-size: max(1.25vw, 1.25rem);
}

p {
  font-size: max(1vw, 1rem);
}

strong {
  letter-spacing: 1px;
}

button {
  font-size: max(1.25vw, 1rem);
  background: var(--secondary-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo{
  margin: 0px auto;
  min-height: 100px;
  height: 10vw;
  max-height: 200px
}

.logo:nth-child(1) {
  margin-right: 5%;
}

.logo:nth-child(2) {
  margin: 0 20px;
  border-radius: 100px;
}

.logo:nth-child(3) {
  margin-left: 5%;
}

.title {
  font-family: "ProtestGuerrilla";
  margin: 0px;
}

.description-container {
  padding: 50px;
  display: flex;
}

.text {
  min-width: 100px;
  margin: auto;
}

.description {
  padding: 50px;
  width: 50%;
  background: var(--secondary-background-color);
  border-radius: var(--border-radius);
}

.description p {
  line-height: 35px;
}

.associations {
  display: flex;
  margin-right: auto;
  max-width: fit-content;
  width: calc(100% - 30px);
  margin-left: 15px;
  gap: 15px;
  border-radius: var(--border-radius);
  padding: 5px;
  border: 1px solid var(--secondary-background-color);
  background-color: var(--text-color-2);
  flex-wrap: wrap;
}

.associations img {
  max-height: 60px;
}


/*  Social  */
.socials-container {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  width: min-content;
  padding-bottom: 50px;
}

.socials-container a {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a svg {
  height: 32px;
}

.socials-container a:hover {
  background-color: var(--accent-color);
  fill: white;
}

.socials-container a::after {
  border-top: 10px solid var(--accent-color);
}

.socials-container a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials-container a:hover::after {
  transform: translateY(-43px) rotate(0);
  opacity: 1;
}


/*  Menu  */
.menu-button {
  position: fixed;
  margin-left: auto;
  background: color-mix(in srgb, var(--secondary-background-color) 50%, transparent);
  backdrop-filter: blur(10px);
  top: 10px;
  right: 10px;
  padding: 15px 30px;
}

#menu {
  width: max-content;
  border: var(--border);
  border-radius: var(--border-radius);
  background: color-mix(in srgb, var(--secondary-background-color) 50%, transparent);
  backdrop-filter: blur(10px);
  padding: 20px;
  position: fixed;
  top: 75px;
  right: 10px;
  margin: 0;
  margin-left: auto;
}

#menu:popover-open {
  display: grid;
  gap: 10px;
}


/*  Home button  */
.home-button {
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--secondary-background-color);
  border: var(--border);
}

.home-button p {
  margin: 0 auto;
}